# Sales pred simple ranking  
## ***Experience*** **52**:  
### -aggregated sales in different stores  
### -single-general learner  
### -without markdowns?

In [38]:
# 0-importing necessary packages

import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from datetime import datetime
import statsmodels.api as sm
from pycaret.regression import *
import xgboost as xgb
import catboost as ctb
from sklearn.metrics import mean_squared_error, mean_absolute_error
from statsmodels.graphics.tsaplots import plot_acf
print('Importing libraries: Done')

Importing libraries: Done

In [39]:
# 1-Inputs operation


# 1-1 Checking inputs
print("Folder's files : ",os.listdir('inputs'), '\n')

# 1-2 Reading input CSV files and assigning a name to each one of them 
dataset = pd.read_csv("inputs/train.csv", names=['Store','Dept','Date','weeklySales','isHoliday'],sep=',', header=0)
features = pd.read_csv("inputs/features.csv",sep=',', header=0,names=['Store','Date','Temperature','Fuel_Price','MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5','CPI','Unemployment','IsHoliday']).drop(columns=['IsHoliday'])
stores = pd.read_csv("inputs/stores.csv", names=['Store','Type','Size'],sep=',', header=0)

# 1-3 Creating needed directories
os.makedirs('temp_test', exist_ok=True)
os.makedirs('input_analysis', exist_ok=True)
os.makedirs('pred_output', exist_ok=True)
os.makedirs('pred_output/exp51', exist_ok=True)
os.makedirs('output_analysis', exist_ok=True)
os.makedirs('output_analysis/exp52', exist_ok=True)

# 1-4 Flating data(merging different data bases into one table)
dataset = dataset.merge(stores, how='left').merge(features, how='left')  

# 1-5 Decreasing unnecessary memory usage 
dataset['Store'] = dataset['Store'].astype('int16')
dataset['Dept'] = dataset['Dept'].astype('int16')
dataset['weeklySales'] = dataset['weeklySales'].astype('float64')

# 1-6 Printing flatted dataset
print('─' * 100,'\n Original dataset sample: \n', dataset)

Folder's files :  ['features.csv', 'inputs.rar', 'inputs.zip', 'stores.csv', 'test.csv', 'train.csv']

────────────────────────────────────────────────────────────────────────────────────────────────────
 Original dataset sample:
         Store  Dept        Date  weeklySales  isHoliday Type    Size  \
0           1     1  2010-02-05     24924.50      False    A  151315
1           1     1  2010-02-12     46039.49       True    A  151315
2           1     1  2010-02-19     41595.55      False    A  151315
3           1     1  2010-02-26     19403.54      False    A  151315
4           1     1  2010-03-05     21827.90      False    A  151315
...       ...   ...         ...          ...        ...  ...     ...
421565     45    98  2012-09-28       508.37      False    B  118221
421566     45    98  2012-10-05       628.10      False    B  118221
421567     45    98  2012-10-12      1061.02      False    B  118221
421568     45    98  2012-10-19       760.01      False    B  118221
421569     45    98  2012-10-26      1076.80      False    B  118221

        Temperature  Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  \
0             42.31       2.572        NaN        NaN        NaN        NaN
1             38.51       2.548        NaN        NaN        NaN        NaN
2             39.93       2.514        NaN        NaN        NaN        NaN
3             46.63       2.561        NaN        NaN        NaN        NaN
4             46.50       2.625        NaN        NaN        NaN        NaN
...             ...         ...        ...        ...        ...        ...
421565        64.88       3.997    4556.61      20.64       1.50    1601.01
421566        64.89       3.985    5046.74        NaN      18.82    2253.43
421567        54.47       4.000    1956.28        NaN       7.89     599.32
421568        56.47       3.969    2004.02        NaN       3.18     437.73
421569        58.85       3.882    4018.91      58.08     100.00     211.94

        MarkDown5         CPI  Unemployment
0             NaN  211.096358         8.106
1             NaN  211.242170         8.106
2             NaN  211.289143         8.106
3             NaN  211.319643         8.106
4             NaN  211.350143         8.106
...           ...         ...           ...
421565    3288.25  192.013558         8.684
421566    2340.01  192.170412         8.667
421567    3990.54  192.327265         8.667
421568    1537.49  192.330854         8.667
421569     858.33  192.308899         8.667

[421570 rows x 16 columns]

In [40]:
# 2-Data extraction

# 2-1 Deriving a sub-dataset from main dataset 
dataset_sub1 = dataset[['Date','Dept','Store', 'Type','MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5','isHoliday','weeklySales']]
dataset_sub1 = dataset_sub1.sort_index(axis=0)

# 2-2 getting list of unique departments' values
dept_list = dataset_sub1['Dept'].unique()
dept_list.sort()

# 2-3 getting list of unique stores' values
store_list = dataset_sub1['Store'].unique()
store_list.sort()

# 2-4 getting list of unique dates
date_list = dataset_sub1['Date'].unique()
date_list.sort()

# 2-5 Check printing 
print('Dataset_sub1: \n',dataset_sub1)
print('─' * 100,'\n List of Departments: \n',dept_list,'\n')
print('─' * 100,'\n List of Stores: \n',store_list,'\n')
print('─' * 100,'\n List of Dates: \n',date_list)

# Deriving a sub-dataset from main dataset which considers 9 more important features
#datasub_sub3 = dataset[['Date','Store','Dept','weeklySales','MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5']]
#dataset_sub3 = dataset_sub3.sort_index(axis=0)
#Print('\n\n', dataset_sub3.tail(5))

Dataset_sub1:
               Date  Dept  Store Type  MarkDown1  MarkDown2  MarkDown3  \
0       2010-02-05     1      1    A        NaN        NaN        NaN
1       2010-02-12     1      1    A        NaN        NaN        NaN
2       2010-02-19     1      1    A        NaN        NaN        NaN
3       2010-02-26     1      1    A        NaN        NaN        NaN
4       2010-03-05     1      1    A        NaN        NaN        NaN
...            ...   ...    ...  ...        ...        ...        ...
421565  2012-09-28    98     45    B    4556.61      20.64       1.50
421566  2012-10-05    98     45    B    5046.74        NaN      18.82
421567  2012-10-12    98     45    B    1956.28        NaN       7.89
421568  2012-10-19    98     45    B    2004.02        NaN       3.18
421569  2012-10-26    98     45    B    4018.91      58.08     100.00

        MarkDown4  MarkDown5  isHoliday  weeklySales
0             NaN        NaN      False     24924.50
1             NaN        NaN       True     46039.49
2             NaN        NaN      False     41595.55
3             NaN        NaN      False     19403.54
4             NaN        NaN      False     21827.90
...           ...        ...        ...          ...
421565    1601.01    3288.25      False       508.37
421566    2253.43    2340.01      False       628.10
421567     599.32    3990.54      False      1061.02
421568     437.73    1537.49      False       760.01
421569     211.94     858.33      False      1076.80

[421570 rows x 11 columns]
────────────────────────────────────────────────────────────────────────────────────────────────────
 List of Departments:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 16 17 18 19 20 21 22 23 24 25
 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
 50 51 52 54 55 56 58 59 60 65 67 71 72 74 77 78 79 80 81 82 83 85 87 90
 91 92 93 94 95 96 97 98 99]

────────────────────────────────────────────────────────────────────────────────────────────────────
 List of Stores:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45]

────────────────────────────────────────────────────────────────────────────────────────────────────
 List of Dates:
 ['2010-02-05' '2010-02-12' '2010-02-19' '2010-02-26' '2010-03-05'
 '2010-03-12' '2010-03-19' '2010-03-26' '2010-04-02' '2010-04-09'
 '2010-04-16' '2010-04-23' '2010-04-30' '2010-05-07' '2010-05-14'
 '2010-05-21' '2010-05-28' '2010-06-04' '2010-06-11' '2010-06-18'
 '2010-06-25' '2010-07-02' '2010-07-09' '2010-07-16' '2010-07-23'
 '2010-07-30' '2010-08-06' '2010-08-13' '2010-08-20' '2010-08-27'
 '2010-09-03' '2010-09-10' '2010-09-17' '2010-09-24' '2010-10-01'
 '2010-10-08' '2010-10-15' '2010-10-22' '2010-10-29' '2010-11-05'
 '2010-11-12' '2010-11-19' '2010-11-26' '2010-12-03' '2010-12-10'
 '2010-12-17' '2010-12-24' '2010-12-31' '2011-01-07' '2011-01-14'
 '2011-01-21' '2011-01-28' '2011-02-04' '2011-02-11' '2011-02-18'
 '2011-02-25' '2011-03-04' '2011-03-11' '2011-03-18' '2011-03-25'
 '2011-04-01' '2011-04-08' '2011-04-15' '2011-04-22' '2011-04-29'
 '2011-05-06' '2011-05-13' '2011-05-20' '2011-05-27' '2011-06-03'
 '2011-06-10' '2011-06-17' '2011-06-24' '2011-07-01' '2011-07-08'
 '2011-07-15' '2011-07-22' '2011-07-29' '2011-08-05' '2011-08-12'
 '2011-08-19' '2011-08-26' '2011-09-02' '2011-09-09' '2011-09-16'
 '2011-09-23' '2011-09-30' '2011-10-07' '2011-10-14' '2011-10-21'
 '2011-10-28' '2011-11-04' '2011-11-11' '2011-11-18' '2011-11-25'
 '2011-12-02' '2011-12-09' '2011-12-16' '2011-12-23' '2011-12-30'
 '2012-01-06' '2012-01-13' '2012-01-20' '2012-01-27' '2012-02-03'
 '2012-02-10' '2012-02-17' '2012-02-24' '2012-03-02' '2012-03-09'
 '2012-03-16' '2012-03-23' '2012-03-30' '2012-04-06' '2012-04-13'
 '2012-04-20' '2012-04-27' '2012-05-04' '2012-05-11' '2012-05-18'
 '2012-05-25' '2012-06-01' '2012-06-08' '2012-06-15' '2012-06-22'
 '2012-06-29' '2012-07-06' '2012-07-13' '2012-07-20' '2012-07-27'
 '2012-08-03' '2012-08-10' '2012-08-17' '2012-08-24' '2012-08-31'
 '2012-09-07' '2012-09-14' '2012-09-21' '2012-09-28' '2012-10-05'
 '2012-10-12' '2012-10-19' '2012-10-26']

In [6]:
# 3-Data cleaning

# 3-1 this function identifies departmets in different stores that have incomplete data or have below 0 sales values. the function then makes a dictionary of outliers(Test:OK)
def outlier_identifier(df, border_value, store_list, dept_list):
    data_map = pd.DataFrame(columns=['store', 'dept', 'number_of_entries', 'target_false_count', 'outlier_flag'])
    for i in store_list:
        for j in dept_list:
            number_of_entries = df[(df.Store == i) & (df.Dept == j)].Date.count()
            number_of_entries = number_of_entries.astype('int16')
            target_false_count = df[(df.weeklySales <= border_value) & (df.Store == 
                                                                        i) & (df.Dept == j)].weeklySales.count()
            target_false_count = target_false_count.astype('int16')
            if (number_of_entries == 143) & (target_false_count == 0):
                outlier_flag = 0
            else:
                outlier_flag = 1
            new_row = {'store': i, 'dept': j, 'number_of_entries': number_of_entries, 'target_false_count': target_false_count, 'outlier_flag': outlier_flag}
            data_map.loc[len(data_map)] = new_row
    return data_map

# 3-2 this function removes departmets in different stores that have incomplete data or have below 0 sales values.(Test:OK)
def outlier_remover(df, removal_map):
    for i in removal_map.index:
        a = removal_map.iloc[[i]].store
        a.reset_index(drop=True, inplace=True)
        b = removal_map.iloc[[i]].dept
        b.reset_index(drop=True, inplace=True)
        print('Store:', a[0], 'Department:', b[0],' Removed as outlier!','\n')
        index = df[(df.Store == a[0]) & (df.Dept == b[0])].index
        for j in index:
            df.drop(j , inplace=True)
    return df

# 3-3 Executing outlier identifier and save it as a mapping dataframe to know which store and department mix should be droped(Test:OK)
data_map = outlier_identifier(dataset_sub1, 0, store_list, dept_list)
removal_map = data_map[['store','dept','outlier_flag']]
removal_map = removal_map[removal_map.outlier_flag == 1]
removal_map.reset_index(drop=True, inplace=True)

# 3-4 Printing percentage of outlier data in compare with whole data
print('─' * 100, '\n')
print('outlier percentage:', data_map[data_map.outlier_flag == 1].store.count() / 3645 ,'─' * 100, '\n')

# 3-5 Executing outlier remover
dataset_sub2 = outlier_remover(dataset_sub1, removal_map)

# 3-6 Filling empty numeric values with 0  &  reseting index
dataset_sub2 = dataset_sub2.fillna(0)
dataset_sub2 = dataset_sub2.reset_index(drop=True)

# 3-7 Outlier removing process is considerably time consuming, therefore we save it and recall cleaned data later.
dataset_sub2.to_csv('temp_test/dataset_sub2_exp51.csv') 

# 3-8 Printing the result of data cleaning process
print('─' * 100, '\n Cleaned Dataset: \n', dataset_sub2)

────────────────────────────────────────────────────────────────────────────────────────────────────

outlier percentage: 0.2792866941015089

Store: 1 Department: 6  Removed as outlier!

Store: 1 Department: 18  Removed as outlier!

Store: 1 Department: 39  Removed as outlier!

Store: 1 Department: 43  Removed as outlier!

Store: 1 Department: 45  Removed as outlier!

Store: 1 Department: 47  Removed as outlier!

Store: 1 Department: 48  Removed as outlier!

Store: 1 Department: 50  Removed as outlier!

Store: 1 Department: 51  Removed as outlier!

Store: 1 Department: 54  Removed as outlier!

Store: 1 Department: 65  Removed as outlier!

Store: 1 Department: 77  Removed as outlier!

Store: 1 Department: 78  Removed as outlier!

Store: 1 Department: 96  Removed as outlier!

Store: 1 Department: 99  Removed as outlier!

Store: 2 Department: 18  Removed as outlier!

Store: 2 Department: 39  Removed as outlier!

Store: 2 Department: 43  Removed as outlier!

Store: 2 Department: 45  Removed as outlier!

Store: 2 Department: 47  Removed as outlier!

Store: 2 Department: 48  Removed as outlier!

Store: 2 Department: 50  Removed as outlier!

Store: 2 Department: 51  Removed as outlier!

Store: 2 Department: 54  Removed as outlier!

Store: 2 Department: 60  Removed as outlier!

Store: 2 Department: 65  Removed as outlier!

Store: 2 Department: 77  Removed as outlier!

Store: 2 Department: 78  Removed as outlier!

Store: 2 Department: 99  Removed as outlier!

Store: 3 Department: 18  Removed as outlier!

Store: 3 Department: 32  Removed as outlier!

Store: 3 Department: 36  Removed as outlier!

Store: 3 Department: 37  Removed as outlier!

Store: 3 Department: 39  Removed as outlier!

Store: 3 Department: 43  Removed as outlier!

Store: 3 Department: 45  Removed as outlier!

Store: 3 Department: 47  Removed as outlier!

Store: 3 Department: 48  Removed as outlier!

Store: 3 Department: 49  Removed as outlier!

Store: 3 Department: 50  Removed as outlier!

Store: 3 Department: 51  Removed as outlier!

Store: 3 Department: 54  Removed as outlier!

Store: 3 Department: 58  Removed as outlier!

Store: 3 Department: 59  Removed as outlier!

Store: 3 Department: 65  Removed as outlier!

Store: 3 Department: 77  Removed as outlier!

Store: 3 Department: 78  Removed as outlier!

Store: 3 Department: 80  Removed as outlier!

Store: 3 Department: 83  Removed as outlier!

Store: 3 Department: 93  Removed as outlier!

Store: 3 Department: 94  Removed as outlier!

Store: 3 Department: 97  Removed as outlier!

Store: 3 Department: 98  Removed as outlier!

Store: 3 Department: 99  Removed as outlier!

Store: 4 Department: 18  Removed as outlier!

Store: 4 Department: 39  Removed as outlier!

Store: 4 Department: 43  Removed as outlier!

Store: 4 Department: 45  Removed as outlier!

Store: 4 Department: 47  Removed as outlier!

Store: 4 Department: 48  Removed as outlier!

Store: 4 Department: 50  Removed as outlier!

Store: 4 Department: 51  Removed as outlier!

Store: 4 Department: 54  Removed as outlier!

Store: 4 Department: 65  Removed as outlier!

Store: 4 Department: 77  Removed as outlier!

Store: 4 Department: 78  Removed as outlier!

Store: 4 Department: 99  Removed as outlier!

Store: 5 Department: 6  Removed as outlier!

Store: 5 Department: 18  Removed as outlier!

Store: 5 Department: 19  Removed as outlier!

Store: 5 Department: 37  Removed as outlier!

Store: 5 Department: 39  Removed as outlier!

Store: 5 Department: 43  Removed as outlier!

Store: 5 Department: 45  Removed as outlier!

Store: 5 Department: 47  Removed as outlier!

Store: 5 Department: 48  Removed as outlier!

Store: 5 Department: 49  Removed as outlier!

Store: 5 Department: 50  Removed as outlier!

Store: 5 Department: 51  Removed as outlier!

Store: 5 Department: 54  Removed as outlier!

Store: 5 Department: 56  Removed as outlier!

Store: 5 Department: 58  Removed as outlier!

Store: 5 Department: 59  Removed as outlier!

Store: 5 Department: 65  Removed as outlier!

Store: 5 Department: 77  Removed as outlier!

Store: 5 Department: 78  Removed as outlier!

Store: 5 Department: 80  Removed as outlier!

Store: 5 Department: 83  Removed as outlier!

Store: 5 Department: 93  Removed as outlier!

Store: 5 Department: 94  Removed as outlier!

Store: 5 Department: 97  Removed as outlier!

Store: 5 Department: 98  Removed as outlier!

Store: 5 Department: 99  Removed as outlier!

Store: 6 Department: 18  Removed as outlier!

Store: 6 Department: 36  Removed as outlier!

Store: 6 Department: 39  Removed as outlier!

Store: 6 Department: 43  Removed as outlier!

Store: 6 Department: 45  Removed as outlier!

Store: 6 Department: 47  Removed as outlier!

Store: 6 Department: 48  Removed as outlier!

Store: 6 Department: 50  Removed as outlier!

Store: 6 Department: 51  Removed as outlier!

Store: 6 Department: 54  Removed as outlier!

Store: 6 Department: 60  Removed as outlier!

Store: 6 Department: 65  Removed as outlier!

Store: 6 Department: 77  Removed as outlier!

Store: 6 Department: 78  Removed as outlier!

Store: 6 Department: 99  Removed as outlier!

Store: 7 Department: 18  Removed as outlier!

Store: 7 Department: 19  Removed as outlier!

Store: 7 Department: 35  Removed as outlier!

Store: 7 Department: 37  Removed as outlier!

Store: 7 Department: 39  Removed as outlier!

Store: 7 Department: 43  Removed as outlier!

Store: 7 Department: 45  Removed as outlier!

Store: 7 Department: 47  Removed as outlier!

Store: 7 Department: 48  Removed as outlier!

Store: 7 Department: 49  Removed as outlier!

Store: 7 Department: 50  Removed as outlier!

Store: 7 Department: 51  Removed as outlier!

Store: 7 Department: 54  Removed as outlier!

Store: 7 Department: 58  Removed as outlier!

Store: 7 Department: 59  Removed as outlier!

Store: 7 Department: 65  Removed as outlier!

Store: 7 Department: 77  Removed as outlier!

Store: 7 Department: 78  Removed as outlier!

Store: 7 Department: 80  Removed as outlier!

Store: 7 Department: 83  Removed as outlier!

Store: 7 Department: 94  Removed as outlier!

Store: 7 Department: 98  Removed as outlier!

Store: 7 Department: 99  Removed as outlier!

Store: 8 Department: 18  Removed as outlier!

Store: 8 Department: 39  Removed as outlier!

Store: 8 Department: 43  Removed as outlier!

Store: 8 Department: 45  Removed as outlier!

Store: 8 Department: 47  Removed as outlier!

Store: 8 Department: 48  Removed as outlier!

Store: 8 Department: 50  Removed as outlier!

Store: 8 Department: 51  Removed as outlier!

Store: 8 Department: 54  Removed as outlier!

Store: 8 Department: 58  Removed as outlier!

Store: 8 Department: 65  Removed as outlier!

Store: 8 Department: 77  Removed as outlier!

Store: 8 Department: 78  Removed as outlier!

Store: 8 Department: 96  Removed as outlier!

Store: 8 Department: 99  Removed as outlier!

Store: 9 Department: 18  Removed as outlier!

Store: 9 Department: 36  Removed as outlier!

Store: 9 Department: 37  Removed as outlier!

Store: 9 Department: 39  Removed as outlier!

Store: 9 Department: 43  Removed as outlier!

Store: 9 Department: 45  Removed as outlier!

Store: 9 Department: 47  Removed as outlier!

Store: 9 Department: 48  Removed as outlier!

Store: 9 Department: 49  Removed as outlier!

Store: 9 Department: 50  Removed as outlier!

Store: 9 Department: 51  Removed as outlier!

Store: 9 Department: 54  Removed as outlier!

Store: 9 Department: 56  Removed as outlier!

Store: 9 Department: 58  Removed as outlier!

Store: 9 Department: 59  Removed as outlier!

Store: 9 Department: 60  Removed as outlier!

Store: 9 Department: 65  Removed as outlier!

Store: 9 Department: 77  Removed as outlier!

Store: 9 Department: 78  Removed as outlier!

Store: 9 Department: 80  Removed as outlier!

Store: 9 Department: 83  Removed as outlier!

Store: 9 Department: 93  Removed as outlier!

Store: 9 Department: 94  Removed as outlier!

Store: 9 Department: 97  Removed as outlier!

Store: 9 Department: 98  Removed as outlier!

Store: 9 Department: 99  Removed as outlier!

Store: 10 Department: 18  Removed as outlier!

Store: 10 Department: 36  Removed as outlier!

Store: 10 Department: 39  Removed as outlier!

Store: 10 Department: 43  Removed as outlier!

Store: 10 Department: 45  Removed as outlier!

Store: 10 Department: 47  Removed as outlier!

Store: 10 Department: 51  Removed as outlier!

Store: 10 Department: 54  Removed as outlier!

Store: 10 Department: 60  Removed as outlier!

Store: 10 Department: 65  Removed as outlier!

Store: 10 Department: 77  Removed as outlier!

Store: 10 Department: 78  Removed as outlier!

Store: 10 Department: 94  Removed as outlier!

Store: 10 Department: 98  Removed as outlier!

Store: 10 Department: 99  Removed as outlier!

Store: 11 Department: 18  Removed as outlier!

Store: 11 Department: 19  Removed as outlier!

Store: 11 Department: 39  Removed as outlier!

Store: 11 Department: 43  Removed as outlier!

Store: 11 Department: 45  Removed as outlier!

Store: 11 Department: 47  Removed as outlier!

Store: 11 Department: 48  Removed as outlier!

Store: 11 Department: 50  Removed as outlier!

Store: 11 Department: 51  Removed as outlier!

Store: 11 Department: 54  Removed as outlier!

Store: 11 Department: 60  Removed as outlier!

Store: 11 Department: 65  Removed as outlier!

Store: 11 Department: 77  Removed as outlier!

Store: 11 Department: 78  Removed as outlier!

Store: 11 Department: 99  Removed as outlier!

Store: 12 Department: 18  Removed as outlier!

Store: 12 Department: 37  Removed as outlier!

Store: 12 Department: 39  Removed as outlier!

Store: 12 Department: 43  Removed as outlier!

Store: 12 Department: 45  Removed as outlier!

Store: 12 Department: 47  Removed as outlier!

Store: 12 Department: 48  Removed as outlier!

Store: 12 Department: 49  Removed as outlier!

Store: 12 Department: 50  Removed as outlier!

Store: 12 Department: 51  Removed as outlier!

Store: 12 Department: 54  Removed as outlier!

Store: 12 Department: 56  Removed as outlier!

Store: 12 Department: 58  Removed as outlier!

Store: 12 Department: 65  Removed as outlier!

Store: 12 Department: 77  Removed as outlier!

Store: 12 Department: 78  Removed as outlier!

Store: 12 Department: 80  Removed as outlier!

Store: 12 Department: 94  Removed as outlier!

Store: 12 Department: 96  Removed as outlier!

Store: 12 Department: 99  Removed as outlier!

Store: 13 Department: 18  Removed as outlier!

Store: 13 Department: 39  Removed as outlier!

Store: 13 Department: 43  Removed as outlier!

Store: 13 Department: 45  Removed as outlier!

Store: 13 Department: 47  Removed as outlier!

Store: 13 Department: 48  Removed as outlier!

Store: 13 Department: 51  Removed as outlier!

Store: 13 Department: 54  Removed as outlier!

Store: 13 Department: 65  Removed as outlier!

Store: 13 Department: 77  Removed as outlier!

Store: 13 Department: 78  Removed as outlier!

Store: 13 Department: 99  Removed as outlier!

Store: 14 Department: 18  Removed as outlier!

Store: 14 Department: 19  Removed as outlier!

Store: 14 Department: 37  Removed as outlier!

Store: 14 Department: 39  Removed as outlier!

Store: 14 Department: 43  Removed as outlier!

Store: 14 Department: 45  Removed as outlier!

Store: 14 Department: 47  Removed as outlier!

Store: 14 Department: 48  Removed as outlier!

Store: 14 Department: 51  Removed as outlier!

Store: 14 Department: 54  Removed as outlier!

Store: 14 Department: 65  Removed as outlier!

Store: 14 Department: 77  Removed as outlier!

Store: 14 Department: 78  Removed as outlier!

Store: 14 Department: 96  Removed as outlier!

Store: 14 Department: 99  Removed as outlier!

Store: 15 Department: 18  Removed as outlier!

Store: 15 Department: 37  Removed as outlier!

Store: 15 Department: 39  Removed as outlier!

Store: 15 Department: 43  Removed as outlier!

Store: 15 Department: 45  Removed as outlier!

Store: 15 Department: 47  Removed as outlier!

Store: 15 Department: 48  Removed as outlier!

Store: 15 Department: 51  Removed as outlier!

Store: 15 Department: 54  Removed as outlier!

Store: 15 Department: 56  Removed as outlier!

Store: 15 Department: 58  Removed as outlier!

Store: 15 Department: 60  Removed as outlier!

Store: 15 Department: 65  Removed as outlier!

Store: 15 Department: 77  Removed as outlier!

Store: 15 Department: 78  Removed as outlier!

Store: 15 Department: 80  Removed as outlier!

Store: 15 Department: 94  Removed as outlier!

Store: 15 Department: 98  Removed as outlier!

Store: 15 Department: 99  Removed as outlier!

Store: 16 Department: 18  Removed as outlier!

Store: 16 Department: 37  Removed as outlier!

Store: 16 Department: 39  Removed as outlier!

Store: 16 Department: 43  Removed as outlier!

Store: 16 Department: 45  Removed as outlier!

Store: 16 Department: 47  Removed as outlier!

Store: 16 Department: 48  Removed as outlier!

Store: 16 Department: 49  Removed as outlier!

Store: 16 Department: 50  Removed as outlier!

Store: 16 Department: 51  Removed as outlier!

Store: 16 Department: 54  Removed as outlier!

Store: 16 Department: 56  Removed as outlier!

Store: 16 Department: 58  Removed as outlier!

Store: 16 Department: 59  Removed as outlier!

Store: 16 Department: 60  Removed as outlier!

Store: 16 Department: 65  Removed as outlier!

Store: 16 Department: 77  Removed as outlier!

Store: 16 Department: 78  Removed as outlier!

Store: 16 Department: 80  Removed as outlier!

Store: 16 Department: 83  Removed as outlier!

Store: 16 Department: 93  Removed as outlier!

Store: 16 Department: 94  Removed as outlier!

Store: 16 Department: 98  Removed as outlier!

Store: 16 Department: 99  Removed as outlier!

Store: 17 Department: 18  Removed as outlier!

Store: 17 Department: 37  Removed as outlier!

Store: 17 Department: 39  Removed as outlier!

Store: 17 Department: 41  Removed as outlier!

Store: 17 Department: 43  Removed as outlier!

Store: 17 Department: 45  Removed as outlier!

Store: 17 Department: 47  Removed as outlier!

Store: 17 Department: 48  Removed as outlier!

Store: 17 Department: 49  Removed as outlier!

Store: 17 Department: 50  Removed as outlier!

Store: 17 Department: 51  Removed as outlier!

Store: 17 Department: 54  Removed as outlier!

Store: 17 Department: 56  Removed as outlier!

Store: 17 Department: 58  Removed as outlier!

Store: 17 Department: 65  Removed as outlier!

Store: 17 Department: 77  Removed as outlier!

Store: 17 Department: 78  Removed as outlier!

Store: 17 Department: 94  Removed as outlier!

Store: 17 Department: 96  Removed as outlier!

Store: 17 Department: 98  Removed as outlier!

Store: 17 Department: 99  Removed as outlier!

Store: 18 Department: 18  Removed as outlier!

Store: 18 Department: 37  Removed as outlier!

Store: 18 Department: 39  Removed as outlier!

Store: 18 Department: 43  Removed as outlier!

Store: 18 Department: 45  Removed as outlier!

Store: 18 Department: 47  Removed as outlier!

Store: 18 Department: 48  Removed as outlier!

Store: 18 Department: 50  Removed as outlier!

Store: 18 Department: 51  Removed as outlier!

Store: 18 Department: 54  Removed as outlier!

Store: 18 Department: 60  Removed as outlier!

Store: 18 Department: 65  Removed as outlier!

Store: 18 Department: 77  Removed as outlier!

Store: 18 Department: 78  Removed as outlier!

Store: 18 Department: 80  Removed as outlier!

Store: 18 Department: 83  Removed as outlier!

Store: 18 Department: 93  Removed as outlier!

Store: 18 Department: 94  Removed as outlier!

Store: 18 Department: 96  Removed as outlier!

Store: 18 Department: 97  Removed as outlier!

Store: 18 Department: 98  Removed as outlier!

Store: 18 Department: 99  Removed as outlier!

Store: 19 Department: 18  Removed as outlier!

Store: 19 Department: 19  Removed as outlier!

Store: 19 Department: 39  Removed as outlier!

Store: 19 Department: 43  Removed as outlier!

Store: 19 Department: 45  Removed as outlier!

Store: 19 Department: 47  Removed as outlier!

Store: 19 Department: 48  Removed as outlier!

Store: 19 Department: 50  Removed as outlier!

Store: 19 Department: 51  Removed as outlier!

Store: 19 Department: 54  Removed as outlier!

Store: 19 Department: 65  Removed as outlier!

Store: 19 Department: 77  Removed as outlier!

Store: 19 Department: 78  Removed as outlier!

Store: 19 Department: 99  Removed as outlier!

Store: 20 Department: 18  Removed as outlier!

Store: 20 Department: 19  Removed as outlier!

Store: 20 Department: 39  Removed as outlier!

Store: 20 Department: 43  Removed as outlier!

Store: 20 Department: 45  Removed as outlier!

Store: 20 Department: 47  Removed as outlier!

Store: 20 Department: 48  Removed as outlier!

Store: 20 Department: 51  Removed as outlier!

Store: 20 Department: 54  Removed as outlier!

Store: 20 Department: 58  Removed as outlier!

Store: 20 Department: 65  Removed as outlier!

Store: 20 Department: 77  Removed as outlier!

Store: 20 Department: 78  Removed as outlier!

Store: 20 Department: 96  Removed as outlier!

Store: 20 Department: 99  Removed as outlier!

Store: 21 Department: 18  Removed as outlier!

Store: 21 Department: 37  Removed as outlier!

Store: 21 Department: 39  Removed as outlier!

Store: 21 Department: 43  Removed as outlier!

Store: 21 Department: 45  Removed as outlier!

Store: 21 Department: 47  Removed as outlier!

Store: 21 Department: 48  Removed as outlier!

Store: 21 Department: 50  Removed as outlier!

Store: 21 Department: 51  Removed as outlier!

Store: 21 Department: 54  Removed as outlier!

Store: 21 Department: 58  Removed as outlier!

Store: 21 Department: 60  Removed as outlier!

Store: 21 Department: 65  Removed as outlier!

Store: 21 Department: 77  Removed as outlier!

Store: 21 Department: 78  Removed as outlier!

Store: 21 Department: 80  Removed as outlier!

Store: 21 Department: 94  Removed as outlier!

Store: 21 Department: 96  Removed as outlier!

Store: 21 Department: 98  Removed as outlier!

Store: 21 Department: 99  Removed as outlier!

Store: 22 Department: 6  Removed as outlier!

Store: 22 Department: 18  Removed as outlier!

Store: 22 Department: 19  Removed as outlier!

Store: 22 Department: 37  Removed as outlier!

Store: 22 Department: 39  Removed as outlier!

Store: 22 Department: 43  Removed as outlier!

Store: 22 Department: 45  Removed as outlier!

Store: 22 Department: 47  Removed as outlier!

Store: 22 Department: 48  Removed as outlier!

Store: 22 Department: 49  Removed as outlier!

Store: 22 Department: 50  Removed as outlier!

Store: 22 Department: 51  Removed as outlier!

Store: 22 Department: 54  Removed as outlier!

Store: 22 Department: 56  Removed as outlier!

Store: 22 Department: 58  Removed as outlier!

Store: 22 Department: 65  Removed as outlier!

Store: 22 Department: 77  Removed as outlier!

Store: 22 Department: 78  Removed as outlier!

Store: 22 Department: 94  Removed as outlier!

Store: 22 Department: 96  Removed as outlier!

Store: 22 Department: 98  Removed as outlier!

Store: 22 Department: 99  Removed as outlier!

Store: 23 Department: 18  Removed as outlier!

Store: 23 Department: 37  Removed as outlier!

Store: 23 Department: 39  Removed as outlier!

Store: 23 Department: 43  Removed as outlier!

Store: 23 Department: 45  Removed as outlier!

Store: 23 Department: 47  Removed as outlier!

Store: 23 Department: 48  Removed as outlier!

Store: 23 Department: 51  Removed as outlier!

Store: 23 Department: 54  Removed as outlier!

Store: 23 Department: 58  Removed as outlier!

Store: 23 Department: 60  Removed as outlier!

Store: 23 Department: 65  Removed as outlier!

Store: 23 Department: 77  Removed as outlier!

Store: 23 Department: 78  Removed as outlier!

Store: 23 Department: 80  Removed as outlier!

Store: 23 Department: 83  Removed as outlier!

Store: 23 Department: 93  Removed as outlier!

Store: 23 Department: 94  Removed as outlier!

Store: 23 Department: 98  Removed as outlier!

Store: 23 Department: 99  Removed as outlier!


In [41]:
# 4-Reading cleaned dataset and updating some lists after cleaning

# 4-1 Reading saved clean data from memory
dataset_sub2 = pd.read_csv("temp_test/dataset_sub2_exp51.csv", names=['Date','Dept','Store', 'Type','MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5','isHoliday','weeklySales'],sep=',', header=0)
dataset_sub3 = dataset_sub2[['Date','Dept','weeklySales']]

# 4-2 Updating list of unique departments' values
dept_list = dataset_sub2['Dept'].unique()
dept_list.sort()

# 4-3 Updating list of unique stores' values
store_list = dataset_sub2['Store'].unique()
store_list.sort()

# 4-4 Updating list of unique dates
date_list = dataset_sub2['Date'].unique()
date_list.sort()

print('List of Departments:',dept_list,'\n')
print('─' * 100, '\n List of Stores: \n',store_list,'\n')
print('─' * 100, '\n List of Dates: \n',date_list)

List of Departments: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 16 17 19 20 21 22 23 24 25 26
 27 28 29 30 31 32 33 34 35 36 37 38 40 41 42 44 46 48 49 50 52 55 56 58
 59 60 65 67 71 72 74 79 80 81 82 83 85 87 90 91 92 93 94 95 96 97 98]

────────────────────────────────────────────────────────────────────────────────────────────────────
 List of Stores:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45]

────────────────────────────────────────────────────────────────────────────────────────────────────
 List of Dates:
 ['2010-02-05' '2010-02-12' '2010-02-19' '2010-02-26' '2010-03-05'
 '2010-03-12' '2010-03-19' '2010-03-26' '2010-04-02' '2010-04-09'
 '2010-04-16' '2010-04-23' '2010-04-30' '2010-05-07' '2010-05-14'
 '2010-05-21' '2010-05-28' '2010-06-04' '2010-06-11' '2010-06-18'
 '2010-06-25' '2010-07-02' '2010-07-09' '2010-07-16' '2010-07-23'
 '2010-07-30' '2010-08-06' '2010-08-13' '2010-08-20' '2010-08-27'
 '2010-09-03' '2010-09-10' '2010-09-17' '2010-09-24' '2010-10-01'
 '2010-10-08' '2010-10-15' '2010-10-22' '2010-10-29' '2010-11-05'
 '2010-11-12' '2010-11-19' '2010-11-26' '2010-12-03' '2010-12-10'
 '2010-12-17' '2010-12-24' '2010-12-31' '2011-01-07' '2011-01-14'
 '2011-01-21' '2011-01-28' '2011-02-04' '2011-02-11' '2011-02-18'
 '2011-02-25' '2011-03-04' '2011-03-11' '2011-03-18' '2011-03-25'
 '2011-04-01' '2011-04-08' '2011-04-15' '2011-04-22' '2011-04-29'
 '2011-05-06' '2011-05-13' '2011-05-20' '2011-05-27' '2011-06-03'
 '2011-06-10' '2011-06-17' '2011-06-24' '2011-07-01' '2011-07-08'
 '2011-07-15' '2011-07-22' '2011-07-29' '2011-08-05' '2011-08-12'
 '2011-08-19' '2011-08-26' '2011-09-02' '2011-09-09' '2011-09-16'
 '2011-09-23' '2011-09-30' '2011-10-07' '2011-10-14' '2011-10-21'
 '2011-10-28' '2011-11-04' '2011-11-11' '2011-11-18' '2011-11-25'
 '2011-12-02' '2011-12-09' '2011-12-16' '2011-12-23' '2011-12-30'
 '2012-01-06' '2012-01-13' '2012-01-20' '2012-01-27' '2012-02-03'
 '2012-02-10' '2012-02-17' '2012-02-24' '2012-03-02' '2012-03-09'
 '2012-03-16' '2012-03-23' '2012-03-30' '2012-04-06' '2012-04-13'
 '2012-04-20' '2012-04-27' '2012-05-04' '2012-05-11' '2012-05-18'
 '2012-05-25' '2012-06-01' '2012-06-08' '2012-06-15' '2012-06-22'
 '2012-06-29' '2012-07-06' '2012-07-13' '2012-07-20' '2012-07-27'
 '2012-08-03' '2012-08-10' '2012-08-17' '2012-08-24' '2012-08-31'
 '2012-09-07' '2012-09-14' '2012-09-21' '2012-09-28' '2012-10-05'
 '2012-10-12' '2012-10-19' '2012-10-26']

In [45]:
# 5-Defining experiment process, models, and methods

# 5-1 This function aggregates stores weekly sales(Test:OK)
def aggregator(df):
    aggr = df.groupby(['Date','Dept'], as_index=False).sum()
    return aggr

# 5-2 This function gets a ataframe input and gives a dataframe output with transformed features. (Test:OK) 
# also the function reduces data types to minimum ram needed
def create_features(df):
    features = df
    features['Date'] = pd.to_datetime(df['Date'])
    features['dayofweek'] = df['Date'].dt.dayofweek
    features['quarter'] = df['Date'].dt.quarter
    features['month'] = df['Date'].dt.month
    features['year'] = df['Date'].dt.year
    features['dayofyear'] = df['Date'].dt.dayofyear
    features['dayofmonth'] = df['Date'].dt.day
    features['weekofyear'] = df['Date'].dt.weekofyear

    cols_int16 = ['dayofweek','quarter','month','year','dayofyear','dayofmonth','weekofyear', 'Dept']
    for col in cols_int16:
        features['{}'.format(col)] = df['{}'.format(col)].astype('int16')

    cols_float32 = ['weeklySales']
    for col in cols_float32:
        features['{}'.format(col)] = df['{}'.format(col)].astype('float32')
        
    X = features[['Date','dayofweek','quarter','month','year','dayofyear','dayofmonth','weekofyear', 'Dept', 'weeklySales']]
    X.index = features.index
    print('\n >>features: \n',X)
    return X

# 5-3 This function derives train and test datasets from a tmie-series database due to an input date(Test:OK)
def split_data(df, split_date):
    return df[df.Date < split_date].copy(), \
            df[df.Date >= split_date].copy()
    
# 5-4 This function plots test and train values of target in time (Test:NA)
def plt_test_train(df_train, df_test):
    plt.figure(figsize = (20,10))
    plt.xlabel('date')
    plt.ylabel('weekly sales')
    plt.plot(df_train.index, df_train['weeklySales'],label = 'train')
    plt.plot(df_test.index, df_test['weeklySales'], label ='test')
    plt.legend()
    plt.show()
    msg = 'PLT Done ! \n'
    return msg

# 5-5 This function creates, tunes, plots, finalizes, predicts, and evaluates all models in mdls list for a set of data (Test:NA)
def create_models(mdls, test, result_log):
    for mdl in mdls:
        mdll = create_model('{}'.format(mdl))
        print('\n \n >>mdll = create_model(mdl) for Model:{} IS  DONE! \n \n'.format(mdl))
        tuned_mdl = tune_model(mdll, n_iter = 10)
        print('\n \n >>tuned_mdl = tune_model(mdll) for Model:{} IS  DONE! \n \n'.format(mdl))
        
        #plot_model(mdll)
        #print('\n \n >>plot_model(mdll) for Model:{} IS  DONE! \n \n'.format(mdl))
        #plot_model(mdll, plot = 'error')
        #print('\n \n >>plot_model(mdll, plot = error) for Model:{} IS  DONE! \n \n'.format(mdl))
        #plot_model(tuned_mdl, plot = 'feature')
        #print('\n \n >>plot_model(tuned_mdl, plot = feature) for Model:{} IS  DONE! \n \n'.format(mdl))
        
        predict_model(tuned_mdl)
        print('\n \n >>predict_model(tuned_mdl) for Model:{} IS  DONE! \n \n'.format(mdl))
        
        final_mdl = finalize_model(tuned_mdl)
        print('\n \n >>final_mdl = finalize_model(tuned_mdl) for Model:{} IS  DONE! \n \n'.format(mdl))
        
        print(final_mdl)
        print('\n \n >>print(final_mdl) for Model:{} IS  DONE! \n \n'.format(mdl))
        #evaluate_model(final_mdl)
        #print('\n \n >>evaluate_model(final_mdl) for Model:{} IS  DONE! \n \n'.format(mdl))
        
        predict_model(final_mdl)
        print('\n \n >>predict_model(final_mdl) for Model:{} IS  DONE! \n \n'.format(mdl))
        
        pred_mdl = predict_model(final_mdl, data=test)
        pred_mdl.to_csv('pred_output/exp51/{}_pred.csv'.format(mdl))
        print('\n \n >>pred_mdl = predict_model(final_mdl, data=test) for Model:{} IS  DONE! \n \n'.format(mdl))
       
        result_log[mdl] = pred_mdl.prediction_label
        #result_log['{}_ape'.format(mdl)] = ((result_log.actual - result_log[mdl]) / result_log.actual).abs() 
        #result_log['{}_pe'.format(mdl)] = ((result_log.actual - result_log[mdl]) / result_log.actual) 
        #result_log['{}_pos_pe'.format(mdl)] = result_log[(result_log['{}_pe'.format(mdl)] >= 0)]['{}_pe'.format(mdl)]
        #result_log['{}_neg_pe'.format(mdl)] = result_log[(result_log['{}_pe'.format(mdl)] < 0)]['{}_pe'.format(mdl)]
        #pos_pe_sum = result_log['{}_pos_pe'.format(mdl)].sum()
        #max_pos_pe = result_log['{}_pos_pe'.format(mdl)].max()
        #neg_pe_sum = result_log['{}_neg_pe'.format(mdl)].sum()
        #max_neg_pe = result_log['{}_neg_pe'.format(mdl)].min()
        #mape = result_log['{}_ape'.format(mdl)].mean()
        #result_log_aggr.at[i, '{}_pos_pe_sum'.format(mdl)] = pos_pe_sum
        #result_log_aggr.at[i, '{}_max_pos_pe'.format(mdl)] = max_pos_pe
        #result_log_aggr.at[i, '{}_neg_pe_sum'.format(mdl)] = neg_pe_sum
        #result_log_aggr.at[i, '{}_max_neg_pe'.format(mdl)] = max_neg_pe
        #result_log_aggr.at[i, '{}_mape'.format(mdl)] = mape
        
        #dept_mape_list.append(result_log['{}_ape'.format(mdl)].mean())
        #result_log_aggr = dept_mape_list.add(mape)
        print('\n \n >> Prediction of Model:{}  IS  DONE! \n \n'.format(mdl))
    return result_log   
    #pass


# 5-6 This function sets up machine-learning process configurations(Test:NA)
def mlsetup(train, test):
    reg = setup(data = train,
            test_data = test,
            target = 'weeklySales',
            #categorical_features = ['Type', 'isHoliday'],
            #numeric_features = ['Date', 'Dept','Store','dayofweek','quarter','month','year','dayofyear','dayofmonth','weekofyear','MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5'],
            #preprocess = False,
            imputation_type = None, #We dont want to impute missing values because they are alreay imputed.
            #numeric_imputation = 'mean',
            polynomial_features = False, #it means we do not want to take existing features and raise them to a power to capture non-linear relationships between the feature and the target variable.
            transformation = False,
            normalize = False,
            #normalize_method = 'zscore',
            transform_target = False,
            remove_multicollinearity = False,
            #multicollinearity_threshold = 0.95,
            remove_outliers = False,
            #outliers_method = 'ee' #options are 'ee', 'lof', 'iforest',
            #outliers_threshhold = 0.05,
            feature_selection = False,
            #feature_selection_method = 'sequential',
            #feature_selection_estimator = 'lightgbm',
            #n_features_to_select = 0.2,
            #use_gpu = True,
            #profile = True,
            fold_strategy = 'kfold', #other options are 'kfold', 'groupkfold', 'timeseries'
            fold = 10,  
            #fold_groups = 'dept',
            data_split_shuffle = False,
            #fold_shuffle = True,
           )
    print('\n \n >>ML setup  IS  DONE! \n \n')
    #best = compare_models(sort = 'MAPE', n_select = 1)
    #best2 = compare_models(sort = 'MAPE', n_select = 2)
    #best3 = compare_models(sort = 'MAPE', n_select = 3)
    #best4 = compare_models(sort = 'MAPE', n_select = 4)
    #best5 = compare_models(sort = 'MAPE', n_select = 5)
    #print('\n \n >>best = compare_models IS  DONE! \n \n')
    #evaluate_model(best)
    #print('\n \n >>evaluate_model(best) IS  DONE! \n \n')
    #return best
    pass


# 5-7 This function executes each step of the whole experiment process one by one.(Test:NA)
#Experiment51:
def experiment52(df, split_date, mdls):
    y = aggregator(df)
    z = create_features(y)
    train, test = split_data(z, split_date)
    train = train.drop(columns=['Date'])
    test = test.drop(columns=['Date'])
    print('>create features and split_data func is Done! \n')
    
    mlsetup(train, test)
    print('\n >mlsetup func is Done! \n')
        
    result_log_exp52 = pd.DataFrame()
    result_log_exp52.index = test.index
    result_log_exp52['actual'] = test['weeklySales']
    #result_log_all_exp51 = create_models(mdls, test, result_log_exp51)
    
    result_log_exp52 = create_models(mdls, test, result_log_exp52)
    result_log_exp52.to_csv('output_analysis/exp52/result_log_exp52.csv')
    
    #result_log_all_exp51.to_csv('output_analysis/exp51/result_log_all_exp51.csv')
    print('\n >create_models func is Done! \n')
        
    #result_log_aggr_exp1.to_csv('output_analysis/exp1/result_log_aggr_exp1.csv')
    process_end_msg = '>>>>>>>>>>> Experience 52 is DONE! <<<<<<<<<<<<'
    print(process_end_msg)
    pass


# 5-8 This function
#def err_calc():


# 5-9 This function
#def all_plots():

In [43]:
dataset_sub3

              Date  Dept  weeklySales
0       2010-02-05     1     24924.50
1       2010-02-12     1     46039.49
2       2010-02-19     1     41595.55
3       2010-02-26     1     19403.54
4       2010-03-05     1     21827.90
...            ...   ...          ...
375656  2012-09-28    97      6269.73
375657  2012-10-05    97      6573.18
375658  2012-10-12    97      6463.32
375659  2012-10-19    97      5575.90
375660  2012-10-26    97      6817.48

[375661 rows x 3 columns]

In [46]:
# 6-Setting parameters and executing the experiment
mdls = ['xgboost', 'knn','catboost', 'lightgbm', 'gbr', 'huber', 'ada', 'par', 'omp', 'en', 'lasso', 'llar', 'br', 'ridge', 'lar', 'lr','dt', 'rf', 'et']
# excluded: 'dummy'

experiment52(dataset_sub3, '2011-10-19', mdls)

 >>features:
             Date  dayofweek  quarter  month  year  dayofyear  dayofmonth  \
0     2010-02-05          4        1      2  2010         36           5
1     2010-02-05          4        1      2  2010         36           5
2     2010-02-05          4        1      2  2010         36           5
3     2010-02-05          4        1      2  2010         36           5
4     2010-02-05          4        1      2  2010         36           5
...          ...        ...      ...    ...   ...        ...         ...
10148 2012-10-26          4        4     10  2012        300          26
10149 2012-10-26          4        4     10  2012        300          26
10150 2012-10-26          4        4     10  2012        300          26
10151 2012-10-26          4        4     10  2012        300          26
10152 2012-10-26          4        4     10  2012        300          26

       weekofyear  Dept   weeklySales
0               5     1  8.818334e+05
1               5     2  1.997832e+06
2               5     3  4.843689e+05
3               5     4  1.205802e+06
4               5     5  1.116258e+06
...           ...   ...           ...
10148          43    94  1.264738e+06
10149          43    95  3.002617e+06
10150          43    96  5.164860e+05
10151          43    97  5.875408e+05
10152          43    98  2.957347e+05

[10153 rows x 10 columns]
>create features and split_data func is Done!

 >>ML setup  IS  DONE!



 >mlsetup func is Done!

 >>mdll = create_model(mdl) for Model:xgboost IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).


 >>tuned_mdl = tune_model(mdll) for Model:xgboost IS  DONE!

 >>predict_model(tuned_mdl) for Model:xgboost IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:xgboost IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 XGBRegressor(base_score=None, booster='gbtree', callbacks=None,
                              colsample_bylevel=None, colsample_bynode=None,
                              colsample_bytree=None, device='cpu',
                              early_stopping_rounds=None,
                              enable_categorical=False, eval_metric=None,
                              feature_types=None, gamma=None, grow_policy=None,
                              importance_type=None,
                              interaction_constraints=None, learning_rate=None,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=None, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, multi_strategy=None,
                              n_estimators=None, n_jobs=-1,
                              num_parallel_tree=None, random_state=2094, ...))])


 >>print(final_mdl) for Model:xgboost IS  DONE!

 >>predict_model(final_mdl) for Model:xgboost IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:xgboost IS  DONE!




 >> Prediction of Model:xgboost  IS  DONE!

 >>mdll = create_model(mdl) for Model:knn IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits


 >>tuned_mdl = tune_model(mdll) for Model:knn IS  DONE!

 >>predict_model(tuned_mdl) for Model:knn IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:knn IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 KNeighborsRegressor(metric='euclidean', n_jobs=-1,
                                     n_neighbors=3, weights='distance'))])


 >>print(final_mdl) for Model:knn IS  DONE!

 >>predict_model(final_mdl) for Model:knn IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:knn IS  DONE!




 >> Prediction of Model:knn  IS  DONE!

 >>mdll = create_model(mdl) for Model:catboost IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits


 >>tuned_mdl = tune_model(mdll) for Model:catboost IS  DONE!

 >>predict_model(tuned_mdl) for Model:catboost IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:catboost IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 <catboost.core.CatBoostRegressor object at 0x000001FA9EFCE550>)])


 >>print(final_mdl) for Model:catboost IS  DONE!

 >>predict_model(final_mdl) for Model:catboost IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:catboost IS  DONE!




 >> Prediction of Model:catboost  IS  DONE!

 >>mdll = create_model(mdl) for Model:lightgbm IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits


 >>tuned_mdl = tune_model(mdll) for Model:lightgbm IS  DONE!

[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6


 >>predict_model(tuned_mdl) for Model:lightgbm IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:lightgbm IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 LGBMRegressor(bagging_fraction=0.8, bagging_freq=6,
                               feature_fraction=0.4, learning_rate=0.3,
                               min_child_samples=11, min_split_gain=0.2,
                               n_estimators=230, n_jobs=-1, num_leaves=40,
                               random_state=2094, reg_alpha=0.7,
                               reg_lambda=0.4))])


 >>print(final_mdl) for Model:lightgbm IS  DONE!

[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6


 >>predict_model(final_mdl) for Model:lightgbm IS  DONE!

[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6


 >>pred_mdl = predict_model(final_mdl, data=test) for Model:lightgbm IS  DONE!




 >> Prediction of Model:lightgbm  IS  DONE!

 >>mdll = create_model(mdl) for Model:gbr IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits


 >>tuned_mdl = tune_model(mdll) for Model:gbr IS  DONE!

 >>predict_model(tuned_mdl) for Model:gbr IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:gbr IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 GradientBoostingRegressor(learning_rate=0.15, max_depth=7,
                                           max_features=1.0,
                                           min_impurity_decrease=0.0001,
                                           min_samples_leaf=2,
                                           min_samples_split=5,
                                           n_estimators=260, random_state=2094,
                                           subsample=0.9))])


 >>print(final_mdl) for Model:gbr IS  DONE!

 >>predict_model(final_mdl) for Model:gbr IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:gbr IS  DONE!




 >> Prediction of Model:gbr  IS  DONE!

 >>mdll = create_model(mdl) for Model:huber IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits


 >>tuned_mdl = tune_model(mdll) for Model:huber IS  DONE!

 >>predict_model(tuned_mdl) for Model:huber IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:huber IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator', HuberRegressor(alpha=0.5, epsilon=1.9))])


 >>print(final_mdl) for Model:huber IS  DONE!

 >>predict_model(final_mdl) for Model:huber IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:huber IS  DONE!




 >> Prediction of Model:huber  IS  DONE!

 >>mdll = create_model(mdl) for Model:ada IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits


 >>tuned_mdl = tune_model(mdll) for Model:ada IS  DONE!

 >>predict_model(tuned_mdl) for Model:ada IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:ada IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 AdaBoostRegressor(learning_rate=0.1, n_estimators=160,
                                   random_state=2094))])


 >>print(final_mdl) for Model:ada IS  DONE!

 >>predict_model(final_mdl) for Model:ada IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:ada IS  DONE!




 >> Prediction of Model:ada  IS  DONE!

 >>mdll = create_model(mdl) for Model:par IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits


 >>tuned_mdl = tune_model(mdll) for Model:par IS  DONE!

 >>predict_model(tuned_mdl) for Model:par IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:par IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 PassiveAggressiveRegressor(C=9.511000000000003, epsilon=0.9,
                                            fit_intercept=False,
                                            random_state=2094,
                                            shuffle=False))])


 >>print(final_mdl) for Model:par IS  DONE!

 >>predict_model(final_mdl) for Model:par IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:par IS  DONE!




 >> Prediction of Model:par  IS  DONE!

 >>mdll = create_model(mdl) for Model:omp IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).


 >>tuned_mdl = tune_model(mdll) for Model:omp IS  DONE!

 >>predict_model(tuned_mdl) for Model:omp IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:omp IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator', OrthogonalMatchingPursuit())])


 >>print(final_mdl) for Model:omp IS  DONE!

 >>predict_model(final_mdl) for Model:omp IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:omp IS  DONE!




 >> Prediction of Model:omp  IS  DONE!

 >>mdll = create_model(mdl) for Model:en IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).


 >>tuned_mdl = tune_model(mdll) for Model:en IS  DONE!

 >>predict_model(tuned_mdl) for Model:en IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:en IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator', ElasticNet(random_state=2094))])


 >>print(final_mdl) for Model:en IS  DONE!

 >>predict_model(final_mdl) for Model:en IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:en IS  DONE!




 >> Prediction of Model:en  IS  DONE!

 >>mdll = create_model(mdl) for Model:lasso IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits


 >>tuned_mdl = tune_model(mdll) for Model:lasso IS  DONE!

 >>predict_model(tuned_mdl) for Model:lasso IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:lasso IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 Lasso(alpha=0.53, fit_intercept=False, random_state=2094))])


 >>print(final_mdl) for Model:lasso IS  DONE!

 >>predict_model(final_mdl) for Model:lasso IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:lasso IS  DONE!




 >> Prediction of Model:lasso  IS  DONE!

 >>mdll = create_model(mdl) for Model:llar IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).


 >>tuned_mdl = tune_model(mdll) for Model:llar IS  DONE!

 >>predict_model(tuned_mdl) for Model:llar IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:llar IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator', LassoLars(random_state=2094))])


 >>print(final_mdl) for Model:llar IS  DONE!

 >>predict_model(final_mdl) for Model:llar IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:llar IS  DONE!




 >> Prediction of Model:llar  IS  DONE!

 >>mdll = create_model(mdl) for Model:br IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).


 >>tuned_mdl = tune_model(mdll) for Model:br IS  DONE!

 >>predict_model(tuned_mdl) for Model:br IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:br IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None), ('actual_estimator', BayesianRidge())])


 >>print(final_mdl) for Model:br IS  DONE!

 >>predict_model(final_mdl) for Model:br IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:br IS  DONE!




 >> Prediction of Model:br  IS  DONE!

 >>mdll = create_model(mdl) for Model:ridge IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits


 >>tuned_mdl = tune_model(mdll) for Model:ridge IS  DONE!

 >>predict_model(tuned_mdl) for Model:ridge IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:ridge IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 Ridge(alpha=7.68, fit_intercept=False, random_state=2094))])


 >>print(final_mdl) for Model:ridge IS  DONE!

 >>predict_model(final_mdl) for Model:ridge IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:ridge IS  DONE!




 >> Prediction of Model:ridge  IS  DONE!

 >>mdll = create_model(mdl) for Model:lar IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).


 >>tuned_mdl = tune_model(mdll) for Model:lar IS  DONE!

 >>predict_model(tuned_mdl) for Model:lar IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:lar IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator', Lars(random_state=2094))])


 >>print(final_mdl) for Model:lar IS  DONE!

 >>predict_model(final_mdl) for Model:lar IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:lar IS  DONE!




 >> Prediction of Model:lar  IS  DONE!

 >>mdll = create_model(mdl) for Model:lr IS  DONE!

Fitting 10 folds for each of 2 candidates, totalling 20 fits


 >>tuned_mdl = tune_model(mdll) for Model:lr IS  DONE!

 >>predict_model(tuned_mdl) for Model:lr IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:lr IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 LinearRegression(fit_intercept=False, n_jobs=-1))])


 >>print(final_mdl) for Model:lr IS  DONE!

 >>predict_model(final_mdl) for Model:lr IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:lr IS  DONE!




 >> Prediction of Model:lr  IS  DONE!

 >>mdll = create_model(mdl) for Model:dt IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).


 >>tuned_mdl = tune_model(mdll) for Model:dt IS  DONE!

 >>predict_model(tuned_mdl) for Model:dt IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:dt IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator', DecisionTreeRegressor(random_state=2094))])


 >>print(final_mdl) for Model:dt IS  DONE!

 >>predict_model(final_mdl) for Model:dt IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:dt IS  DONE!




 >> Prediction of Model:dt  IS  DONE!

 >>mdll = create_model(mdl) for Model:rf IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).


 >>tuned_mdl = tune_model(mdll) for Model:rf IS  DONE!

 >>predict_model(tuned_mdl) for Model:rf IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:rf IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 RandomForestRegressor(n_jobs=-1, random_state=2094))])


 >>print(final_mdl) for Model:rf IS  DONE!

 >>predict_model(final_mdl) for Model:rf IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:rf IS  DONE!




 >> Prediction of Model:rf  IS  DONE!

 >>mdll = create_model(mdl) for Model:et IS  DONE!

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).


 >>tuned_mdl = tune_model(mdll) for Model:et IS  DONE!

 >>predict_model(tuned_mdl) for Model:et IS  DONE!




 >>final_mdl = finalize_model(tuned_mdl) for Model:et IS  DONE!


Pipeline(memory=Memory(location=None),
         steps=[('placeholder', None),
                ('actual_estimator',
                 ExtraTreesRegressor(n_jobs=-1, random_state=2094))])


 >>print(final_mdl) for Model:et IS  DONE!

 >>predict_model(final_mdl) for Model:et IS  DONE!

 >>pred_mdl = predict_model(final_mdl, data=test) for Model:et IS  DONE!




 >> Prediction of Model:et  IS  DONE!



 >create_models func is Done!

>>>>>>>>>>> Experience 52 is DONE! <<<<<<<<<<<<